.imagem-destaque-cadastro{
    background-image: url('../img/hello.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
}
.inputs{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.inputs:focus{
    outline: none;
    box-shadow: none;
}
.btn{
    background-color: #6e62ff;
    border: 1px solid #6e62ff;
}

input[type="checkbox"]:checked{
    background-color: #6e62ff;
    border-color: #6e62ff;
}



@media (min-width: 768px){
    .imagem-destaque-cadastro{
        width: 40vw;
        height: 15vh;
    }
}
@media (min-width: 992px){
    .imagem-destaque-cadastro{
        width: 40vw;
        height: 30vh;
    }
}
