.imagem-destaque{
    background-image: url('../img/sign_in.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
}
.inputs{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.btn{
    background-color: #6e62ff;
    border: 1px solid #6e62ff;
}
@media (min-width: 992px){
    .container{
        height: 60vh;
    }
    .imagem-destaque{
        background-image: url('../img/sign_in.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 35vh;
    }
}